.list {
  display: flex;
  flex-direction: column;

  /* box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0; */
}

.listItem:first-child {
  /* border: 1px solid white; */

  border-radius: 0.25rem 0.25rem 0 0;
}

.listItem:not(:last-child) {
  border-bottom: solid var(--light-grayish-blue);
}

.footer {
  /* --border-radius: 0.25rem; */

  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1rem;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  background-color: white;

  /* border-radius: var(--border-radius); */
  border-radius: 0 0 0.25rem 0.25rem;
}

.filterMobile {
  /* stylelint-disable-next-line property-no-unknown */
  composes: footer;
  justify-content: center;
  margin-block-start: 1rem;

  @media screen and (min-width: 756px) {
    display: none;
  }
}

@media screen and (max-width: 755px) {
  .filterDesktop {
    display: none;
  }
}
