:root {
  --bright-blue: hsl(220deg 98% 61%);
  --check-background-1: hsl(192deg 100% 67%);
  --check-background-2: hsl(280deg 87% 65%);
  --light-grayish-blue: hsl(233deg 11% 84%);
  --dark-grayish-blue: hsl(236deg 9% 61%);
  --very-dark-grayish-blue: hsl(235deg 19% 35%);
}

body {
  padding-inline: 1.5rem;
  line-height: 1.5;
  background-color: var(--very-light-gray);
  background-image: url('/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url('/images/bg-desktop-light.jpg');
  }
}

.todoContainer {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  background-color: white;
  border-radius: 0.25rem;
}
