.module {
  max-width: 540px;
  margin-inline: auto;
}

.heading {
  margin-block-start: 48px;
  margin-block-end: 16px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5rem;

  @media (min-width: 768px) {
    margin-block-start: 70px;
    margin-block-end: 48px;
  }
}
