.module {
  composes: todoContainer from global;
  font-size: 18px;
  border-radius: inherit;
}

.textbox {
  flex-grow: 1;
  border: none;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.textbox:focus {
  outline: none;
}

.checkbox:checked + .textbox {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}

.button {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline-end: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button > img {
    width: 0.75rem;
  }
}
