.module {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  font-size: 18px;
  background-color: white;
  border-radius: inherit;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  margin-inline-start: 1rem;
  cursor: pointer;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
}

.textbox {
  flex-grow: 1;
  border: none;
}

.checkbox:focus,
.textbox:focus {
  outline: none;
}

.checkbox:checked {
  background:
    url('/icon-check.svg') center no-repeat,
    linear-gradient(
      to right,
      var(--check-background-1),
      var(--check-background-2)
    );
}

.deleteTodo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline-end: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 755px) {
  .textbox {
    font-size: 12px;
  }

  .checkbox {
    width: 1.25rem;
    height: 1.25rem;
  }

  .deleteTodo > img {
    width: 0.75rem;
    height: 0.75rem;
  }
}
