/* TODO: use compose? */
.module {
  composes: todoContainer from global;
  margin-block-end: 1rem;
  font-size: 12px;
}

.textbox {
  flex-grow: 1;
}

.textbox::placeholder {
  color: var(--dark-grayish-blue);
}

.textbox:focus {
  outline: none;
}

@media (min-width: 768px) {
  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  .textbox {
    font-size: 18px;
  }
}
